livekit-agents
livekit-plugins-google
livekit-agents[google]>=1.2.0
livekit-plugins-noise-cancellation~=0.2
python-dotenv
livekit-agents
livekit-plugins-google
faster-whisper
soundfile
numpy
scipy
pyttsx3
pyaudio
livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
python-dotenv
google-generativeai
speechrecognition==3.8.1
pyttsx3==2.90
google-genai>=1.0.0
uvicorn
fastapi