livekit-agents[google]>=1.2.0
livekit-plugins-google
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-noise-cancellation~=0.2
faster-whisper
soundfile
pyaudio
pyttsx3==2.90
numpy>=1.24.0,<2.0.0
scipy
google-generativeai
google-genai>=1.0.0
speechrecognition==3.8.1
fastapi
uvicorn
python-dotenv
livekit
google-api-core
langchain-community
duckduckgo-search